.main {
  background-color: red;
}

.map {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 15px;
}

.map__box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3rem;
  background-color: #a6a8a9;
  position: relative;
}
